
body {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(177, 121, 134);
}
.max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: 40rem;
}

.studio {
    color: teal;
}