body{
    background-color: rgb(255, 255, 255);
    margin-left: 6.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
	background-image: url("dates/postermain.png");
}

/* Make it a marquee */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 93, 29);
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}




select{
    font-family: helvetica;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left:70px ;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    font-weight: 1;
    margin: 15px;
    
}

select:hover{
    background-color: rgb(255, 93, 29);
    border: 2px solid rgb(255, 93, 29);
    color: rgb(0, 0, 0);
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }


img{
    width: 13em;
	height: auto;
    margin-top: 3em;
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
    transition: 0.5s all ease-in-out;
}

img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    transform: scale(2);
    opacity: 1;
    transform: scale(2);
    position: relative;
    z-index: 1;
 }



