@font-face {
    font-family: 'PesteTRIAL-Regular';
    src: url(PesteTRIAL-Regular.ttf);
    font-style: normal;
    font-weight: 100;
 }

 body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;

 }
  
 h1 {
    font-family: 'PesteTRIAL-Regular', sans-serif;
    font-size: 4em;
 }

 @media (min-width: 48rem) {
    h1 {
      font-size: 5em;
    }