body {
    font-family: "COOLUMBUS";
    margin-top: 380px;
    margin-left: 50px;
    position: center;
    color: #ffffff;
    background-size: 300% 300%;
    background-image: linear-gradient(
              -45deg, 
              rgba(223, 199, 202, 0.89) 0%, 
              rgb(241, 188, 241) 25%, 
              rgb(147, 167, 211) 51%, 
              rgb(191, 207, 243) 100%
        );  
        animation: AnimateBG 20s ease infinite;
      }

      @keyframes AnimateBG { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }




  